aclinit.json
.ipynb_checkpoints/aclinit-checkpoint.json
.ipynb_checkpoints/app-checkpoint.py
.ipynb_checkpoints/MindTinyRAG-checkpoint.ipynb
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/test-checkpoint.py
.mindnlp/model/BAAI/bge-base-zh-v1.5/adapter_config.json.lock
.mindnlp/model/BAAI/bge-base-zh-v1.5/added_tokens.json.lock
.mindnlp/model/BAAI/bge-base-zh-v1.5/config.json
.mindnlp/model/BAAI/bge-base-zh-v1.5/model.safetensors.index.json.lock
.mindnlp/model/BAAI/bge-base-zh-v1.5/model.safetensors.lock
.mindnlp/model/BAAI/bge-base-zh-v1.5/pytorch_model.bin
.mindnlp/model/BAAI/bge-base-zh-v1.5/special_tokens_map.json
.mindnlp/model/BAAI/bge-base-zh-v1.5/tokenizer_config.json
.mindnlp/model/BAAI/bge-base-zh-v1.5/tokenizer.json
.mindnlp/model/BAAI/bge-base-zh-v1.5/vocab.txt
.mindnlp/model/BAAI/bge-reranker-base/adapter_config.json.lock
.mindnlp/model/BAAI/bge-reranker-base/added_tokens.json.lock
.mindnlp/model/BAAI/bge-reranker-base/config.json
.mindnlp/model/BAAI/bge-reranker-base/model.safetensors
.mindnlp/model/BAAI/bge-reranker-base/sentencepiece.bpe.model
.mindnlp/model/BAAI/bge-reranker-base/special_tokens_map.json
.mindnlp/model/BAAI/bge-reranker-base/tokenizer_config.json
.mindnlp/model/BAAI/bge-reranker-base/tokenizer.json
.mindnlp/model/bert-base-cased/config.json
.mindnlp/model/bert-base-cased/model.safetensors
.mindnlp/model/bigscience/bloomz-1b7/config.json
.mindnlp/model/bigscience/bloomz-1b7/model.safetensors
.mindnlp/model/bigscience/bloomz-1b7/special_tokens_map.json
.mindnlp/model/bigscience/bloomz-1b7/tokenizer_config.json
.mindnlp/model/bigscience/bloomz-1b7/tokenizer.json
.mindnlp/model/openbmb/MiniCPM-2B-dpo-bf16/config.json
.mindnlp/model/openbmb/MiniCPM-2B-dpo-bf16/generation_config.json
.mindnlp/model/openbmb/MiniCPM-2B-dpo-bf16/pytorch_model.bin
.mindnlp/model/openbmb/MiniCPM-2B-dpo-bf16/special_tokens_map.json
.mindnlp/model/openbmb/MiniCPM-2B-dpo-bf16/tokenizer_config.json
.mindnlp/model/openbmb/MiniCPM-2B-dpo-bf16/tokenizer.json
.mindnlp/model/openbmb/MiniCPM-2B-dpo-bf16/tokenizer.model
.mindnlp/model/THUDM/chatglm-6b/config.json
.mindnlp/model/THUDM/chatglm-6b/ice_text.model
.mindnlp/model/THUDM/chatglm-6b/pytorch_model-00001-of-00008.bin
.mindnlp/model/THUDM/chatglm-6b/pytorch_model-00002-of-00008.bin
.mindnlp/model/THUDM/chatglm-6b/pytorch_model-00003-of-00008.bin
.mindnlp/model/THUDM/chatglm-6b/pytorch_model-00004-of-00008.bin
.mindnlp/model/THUDM/chatglm-6b/pytorch_model-00005-of-00008.bin
.mindnlp/model/THUDM/chatglm-6b/pytorch_model-00006-of-00008.bin
.mindnlp/model/THUDM/chatglm-6b/pytorch_model-00007-of-00008.bin
.mindnlp/model/THUDM/chatglm-6b/pytorch_model-00008-of-00008.bin
.mindnlp/model/THUDM/chatglm-6b/pytorch_model.bin.index.json
.mindnlp/model/THUDM/chatglm-6b/tokenizer_config.json
.mindnlp/model/THUDM/chatglm2-6b/tokenizer_config.json
kernel_meta/buildPidInfo.json
kernel_meta/kernel_meta_temp_2190743013650095362/121585_122637_bt.log
kernel_meta/kernel_meta_temp_2190743013650095362/121585_122638_bt.log
kernel_meta/kernel_meta_temp_2190743013650095362/121585_122639_bt.log
kernel_meta/kernel_meta_temp_2190743013650095362/121585_122640_bt.log
kernel_meta/kernel_meta_temp_2190743013650095362/121585_122641_bt.log
kernel_meta/kernel_meta_temp_2190743013650095362/121585_122642_bt.log
kernel_meta/kernel_meta_temp_2190743013650095362/121585_122643_bt.log
kernel_meta/kernel_meta_temp_2190743013650095362/121585_122644_bt.log
RAG/.ipynb_checkpoints/LLM-checkpoint.py
RAG/__pycache__/Embeddings.cpython-39.pyc
RAG/__pycache__/LLM.cpython-39.pyc
RAG/__pycache__/Reranker.cpython-39.pyc
RAG/__pycache__/utils.cpython-39.pyc
RAG/__pycache__/VectorBase.cpython-39.pyc
storage/document.json
storage/vectors.json
storage/.ipynb_checkpoints/document-checkpoint.json
storage/.ipynb_checkpoints/vectors-checkpoint.json
